<!--<p>libro works!</p>
<table class="table table-striped table-dark">
  <thead>
    <th scope="col">Codigo Libro</th>
    <th scope="col">Nombre libro</th>
    <th scope="col">Autor</th>
    <th scope="col">Editor</th>
    <th scope="col">Copias</th>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <div *ngIf="policy.codigoLibro == idLibro as string">
        <td>{{ policy.codigoLibro }}</td>
        <td>{{ policy.nombre }}</td>
        <td>{{ policy.autor }}</td>
        <td>{{ policy.editor }}</td>
        <td>{{ policy.copias }}</td>
        <td *ngIf="policy.codigoLibro == idLibro as string">
          <h1>Holaaaaaaaaaaaaaaa</h1>
        </td>
      </div>
    </tr>
  </tbody>
</table>-->


<mat-card *ngFor="let policy of policies" class="example-card card text-white bg-dark mb-3">
  <mat-card-header *ngIf="policy.codigoLibro == idLibro as string">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre de la Obra:{{policy.nombre}}</mat-card-title>
    <mat-card-subtitle>Autor: {{policy.autor}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="policy.codigoLibro == idLibro as string" mat-card-image [src]="policy.url" class="img-fluid p-1" alt="Libro">
  <mat-card-content *ngIf="policy.codigoLibro == idLibro as string">
    <p>
      Editora responsable: {{policy.editor}}

      Copias Disponibles en biblioteca: {{policy.copias}}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="policy.codigoLibro == idLibro as string">
    <button routerLink="/home" class="btn btn-outline-danger m-1">
      Pagina principal
    </button>
    <button routerLink="/search" class="btn btn-danger m-1">
      Buscar otro libro
    </button>
  </mat-card-actions>
</mat-card>
