<div class="row">
  <form [formGroup]="forma" (ngSubmit)="buscar()" class="example-form" #f="ngForm">
    <mat-form-field class="example-full-width basic-container">
      <mat-label>Nombre/s</mat-label>
      <input matInput class="form-control" type="text" formControlName="nombre" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Buscar por...</mat-label>
      <mat-select formControlName="buscarPor" required>
        <mat-option *ngFor="let tag of tags" [value]="tag.value">
          {{tag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="input-group col-md-8">
      <button mat-raised-button type="submit" class="btn btn-outline-primary" [disabled]="f.invalid">
        Buscar
      </button>
    </div>
  </form>
</div>
<br>
<app-tarjetas *ngIf="bandera" [items]="this.policies" [busqueda]="this.buscarPor" [texto]="this.nombre" ></app-tarjetas>
