<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/cosmere_symbol-2.png" width="50" height="50" alt="">
    <h1>Palanaeum</h1>
  </a>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Recomendaciones</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link " [routerLink]="['contacto']">Contacto</a>
      </li>
      <li class="nav-item  " routerLinkActive="active">
        <a class="nav-link " [routerLink]="['preguntas']">Preguntas frecuentes</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['search']">Buscar </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['qrcodigo']">CodigoQr </a>
      </li>
      <div *ngIf="usuarioLogueado.rol == 'Admin'">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['CRUD']">Firebase</a>
        </li>
      </div>
    </ul>

    <div class="form-inline my-2 ">
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Buscar Heore"
      #buscarTexto (keyup.enter)="buscar(buscarTexto.value)">
      <button (click)="buscar(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
      <div *ngIf="this.banderaNombre" class="alert alert-danger animated fadeIn fadeOut" role="alert">
        Seguro que escribiste bien el nombre?
      </div>-->
      <li class="nav-item " routerLinkActive="active">

        <div *ngIf="usuarioLogueado.nombre != '' ; else Registrarse">
          <h1> Hola {{usuarioLogueado.nombre}}</h1>
          <a class="nav-link btn btn-outline-danger my-2 my-sm-0 fas fa-user-alt-slash" (click)="CerrarSecion()">Cerrar secion </a>
        </div>
        <ng-template #Registrarse>
          <a class="nav-link btn btn-outline-success my-2 my-sm-0 fas fa-user-circle" [routerLink]="['login']">Iniciar secion </a>
          <a class="nav-link btn btn-outline-info my-2 my-sm-0 far fa-user-circle" [routerLink]="['reg']">Registrate </a>
        </ng-template>
      </li>
    </div>

  </div>
</nav>
