<h1>¿Quienes Somos?</h1>
<h3>Somos una biblioteca cuyo opgetivo es el facilitar a nuestros usuarios la busqueda de libros asi como el gestionar los libros que se han solicitado asi como exterder los prestamos</h3>

<h1>¿Porque Palanaeum?</h1>
<h3>Es simplemente una biblioteca que se encuentra en mi saga de libros favorita</h3>

<h1>¿Como puedo extender el palaso de entrega?</h1>
<h3>Tienes que iniciar secion con los datos de tu cuenta asociada al prestamo e ir a la secion de prestamos y si tienes disponible una extencion le podras dar a "aplasar entrega"</h3>

<h1>¿Que puedo hacer si olvide mi contraseña??!</h1>
<h3>Ve a inisiar cecion y "olvide mi contraseña" si tienes problemas puedes comunicarte a "Insertar correo random"</h3>

<h1>¿Porque tan poquitas preguntas?</h1>
<h3>Se me fue el internet desde el martes y tengo que trabajar rapido :'v</h3>
