<div class="m-2">
  <h1 class="font-weight-bold">¿Quiénes  Somos?</h1>
  <h3>Somos una biblioteca cuyo opgetivo es el facilitar a nuestros usuarios la busqueda de libros asi como el gestionar
    los libros que se han solicitado asi como exterder los prestamos</h3>

  <h1 class="font-weight-bold">¿Porque Palanaeum?</h1>
  <h3>Es simplemente una biblioteca que se encuentra en mi saga de libros favorita</h3>

  <h1 class="font-weight-bold">El libro que busque no se encuentra listado, ¿Qué ago?</h1>
  <h3>Asegurate de haver escrito bien el nombre de el libro o tambien lo puedes buscar por autor, si no se encuentra les rogamos tengan paciensia nnuestro catalogo no es muy extenso</h3>

  <h1 class="font-weight-bold">Me gustaria realizar donaciones</h1>
  <h3>Puedes ponerte en contacto con nuestos administradores atraves del menu de contactos</h3>

  <h1 class="font-weight-bold">¿Que puedo hacer si olvide mi contraseña??!</h1>
  <h3>Ve a inisiar cecion y "olvide mi contraseña" si tienes problemas puedes comunicarte a "Insertar correo random"
  </h3>


</div>
