<h3>
  <h1>1. Aceptación</h1>
  Ponemos este sitio web a disposición de cualquier usuario, para su propio consumo y uso, con las condiciones legales que encontrarás en este texto más el de cookies. Te recomendamos que los leas con atención porque al usar esta web los estarás aceptando. Todos ellos.

  El uso de la web por tu parte implica un compromiso de no usarla para fines ilegales, ilícitos, o que supongan una infracción de normas.

<h1>1.1 Edad</h1>
  Declaras que eres mayor de 16 años y que dispones de la capacidad legal necesaria para vincularte por este acuerdo y utilizar la web de conformidad con estas normas.

<h1>2. Qué datos personales recogemos y por qué los recogemos
  2.1. Comentarios, datos de registro y foro</h1>
  Al facilitarnos tu correo electrónico, declaras y reconoces que eres el titular de la misma y en caso de que sea de otra persona reconoces y garantizas su autorización. Si recibimos alguna reclamación denunciando el uso de una cuenta de correo por una persona no titular, y comprobamos que la denuncia es cierta, eliminamos el perfil registrado con esa cuenta.

  Cuando los visitantes dejan comentarios en la web, recopilamos los datos que se muestran en el formulario de comentarios, así como la dirección IP del visitante y la cadena de agentes de usuario del navegador para ayudar a la detección de spam.

  Una cadena anónima creada a partir de tu dirección de correo electrónico (también llamada hash) puede ser proporcionada al servicio de Gravatar para ver si la estás usando. La política de privacidad del servicio Gravatar está disponible aquí: https://automattic.com/privacy/. Después de la aprobación de tu comentario, la imagen de tu perfil es visible para el público en el contexto de su comentario.

  Al registrarte y participar en la web y/o foro accedes al almacenamiento y gestión de tus datos por parte de esta web.

<h1>2.2. Medios</h1>
  Si subes imágenes a la web deberías evitar subir imágenes con datos de ubicación (GPS EXIF) incluidos. Los visitantes de la web pueden descargar y extraer cualquier dato de localización de las imágenes de la web.

<h1>2.3. Formularios de contacto</h1>
  En cosmere.es tratamos la información que nos facilita por vía electrónica mediante el formulario de contacto de esta página web para atender a su solicitud. Los datos proporcionados se conservarán mientras no solicite el cese de la actividad. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal. Usted tiene derecho a obtener confirmación sobre si en cosmere.es estamos tratando sus datos personales, por tanto tiene derecho a acceder a sus datos personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios para los fines que fueron recogidos.

<h1>2.4. Cookies</h1>
  Si dejas un comentario en nuestro sitio puedes elegir guardar tu nombre, dirección de correo electrónico y web en cookies. Esto es para tu comodidad, para que no tengas que volver a rellenar tus datos cuando dejes otro comentario. Estas cookies tendrán una duración de un año.

  Si tienes una cuenta y te conectas a este sitio, instalaremos una cookie temporal para determinar si tu navegador acepta cookies. Esta cookie no contiene datos personales y se elimina al cerrar el navegador.

  Cuando inicias sesión, también instalaremos varias cookies para guardar tu información de inicio de sesión y tus opciones de visualización de pantalla. Las cookies de inicio de sesión duran dos días, y las cookies de opciones de pantalla duran un año. Si seleccionas “Recordarme”, tu inicio de sesión perdurará durante dos semanas. Si sales de tu cuenta, las cookies de inicio de sesión se eliminarán.

  Si editas o publicas un artículo se guardará una cookie adicional en tu navegador. Esta cookie no incluye datos personales y simplemente indica el ID del artículo que acabas de editar. Caduca después de 1 día.

<h1>2.5 Contenido incrustado de otros sitios web</h1>
  Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si el visitante hubiera visitado la otra web.

  Estas web pueden recopilar datos sobre ti, utilizar cookies, incrustar un seguimiento adicional de terceros, y supervisar tu interacción con ese contenido incrustado, incluido el seguimiento de su interacción con el contenido incrustado si tienes una cuenta y estás conectado a esa web.

<h1>3. Con quién compartimos tus datos</h1>
  Dado que nuestra web está alojada en un servidor externo, compartimos tus datos con la empresa proveedora, 1and1.es.

  Para la ejecución de las prestaciones derivadas del cumplimiento del objeto de este encargo, cosmere.es, pone a disposición de la entidad 1and1 la información disponible en los equipos informáticos que dan soporte a los tratamientos de datos realizados por el responsable.

  El presente acuerdo tiene una duración de un mes, renovable.

  Una vez finalice el presente contrato, el encargado del tratamiento debe devolver al responsable los datos personales, y suprimir cualquier copia que mantenga en su poder. No obstante, podrá mantener bloqueados los datos para atender posibles responsabilidades administrativas o jurisdiccionales.

<h1>3.1. Obligaciones del encargado del tratamiento</h1>
  El encargado del tratamiento y todo su personal se obliga a:

  Utilizar los datos personales a los que tenga acceso sólo para la finalidad objeto de este encargo. En ningún caso podrá utilizar los datos para fines propios.
  Tratar los datos de acuerdo con las instrucciones del responsable del tratamiento.
  Si el encargado del tratamiento considera que alguna de las instrucciones infringe el RGPD o cualquier otra disposición en materia de protección de datos, el encargado informará inmediatamente al responsable.

  No comunicar los datos a terceras personas, salvo que cuente con la autorización expresa del responsable del tratamiento, en los supuestos legalmente admisibles.
  Mantener el deber de secreto respecto a los datos de carácter personal a los que haya tenido acceso en virtud del presente encargo, incluso después de que finalice el contrato.
  Garantizar que las personas autorizadas para tratar datos personales se comprometan, de forma expresa y por escrito, a respetar la confidencialidad y a cumplir las medidas de seguridad correspondientes, de las que hay que informarles convenientemente.
  Mantener a disposición del responsable la documentación acreditativa del cumplimiento de la obligación establecida en el apartado anterior.
  Garantizar la formación necesaria en materia de protección de datos personales de las personas autorizadas para tratar datos personales.
  Notificación de violaciones de la seguridad de los datos
  El encargado del tratamiento notificará al responsable del tratamiento, sin dilación indebida y a través de la dirección de correo electrónico que le indique el responsable, las violaciones de la seguridad de los datos personales a su cargo de las que tenga conocimiento, juntamente con toda la información relevante para la documentación y comunicación de la incidencia.

  Se facilitará, como mínimo, la información siguiente:

  Descripción de la naturaleza de la violación de la seguridad de los datos personales, inclusive, cuando sea posible, las categorías y el número aproximado de interesados afectados, y las categorías y el número aproximado de registros de datos personales afectados.
  Datos de la persona de contacto para obtener más información.
  Descripción de las posibles consecuencias de la violación de la seguridad de los datos personales. Descripción de las medidas adoptadas o propuestas para poner remedio a la violación de la seguridad de los datos personales, incluyendo, si procede, las medidas adoptadas para mitigar los posibles efectos negativos.
  Si no es posible facilitar la información simultáneamente, y en la medida en que no lo sea, la información se facilitará de manera gradual sin dilación indebida.

  Poner disposición del responsable toda la información necesaria para demostrar el cumplimiento de sus obligaciones, así como para la realización de las auditorías o las inspecciones que realicen el responsable u otro auditor autorizado por él.
  Auxiliar al responsable de tratamiento a implantar las medidas de seguridad necesarias para:
  a) Garantizar la confidencialidad, integridad, disponibilidad y resiliencia permanentes de los sistemas y servicios de tratamiento.
  b) Restaurar la disponibilidad y el acceso a los datos personales de forma rápida, en caso de incidente físico o técnico.
  c) Verificar, evaluar y valorar, de forma regular, la eficacia de las medidas técnicas y organizativas implantadas para garantizar la seguridad del tratamiento.
  Destino de los datos
  El responsable del tratamiento no conservará datos de carácter personal relativos a los tratamientos del encargado salvo que sea estrictamente necesario para la prestación del servicio, y solo durante el tiempo estrictamente necesario para su prestación.

<h1>3.2. Obligaciones del responsable del tratamiento</h1>
  Corresponde al responsable del tratamiento:

  Facilitar al encargado el acceso a los equipos a fin de prestar el servicio contratado.
  Velar, de forma previa y durante todo el tratamiento, por el cumplimiento del RGPD por parte del encargado.
  Supervisar el tratamiento.
  <h1> Cuánto tiempo conservamos tus datos</h1>
  Si dejas un comentario, el comentario y sus metadatos se conservan indefinidamente. Esto es para que podamos reconocer y aprobar comentarios sucesivos automáticamente en lugar de mantenerlos en una cola de moderación.

  De los usuarios que se registran en nuestra web (si los hay), también almacenamos la información personal que proporcionan en su perfil de usuario. Todos los usuarios pueden ver, editar o eliminar su información personal en cualquier momento (excepto que no pueden cambiar su nombre de usuario). Los administradores de la web también pueden ver y editar esa información.

  <h1> Qué derechos tienes sobre tus datos</h1>
  Si tienes una cuenta o has dejado comentarios en esta web, puedes solicitar recibir un archivo de exportación de los datos personales que tenemos sobre ti, incluyendo cualquier dato que nos hayas proporcionado. También puedes solicitar que eliminemos cualquier dato personal que tengamos sobre ti. Esto no incluye ningún dato que estemos obligados a conservar con fines administrativos, legales o de seguridad.

  <h1> Dónde enviamos tus datos</h1>
  Los comentarios de los visitantes podrían ser revisados un servicio de detección automática de spam.

  <h1>7. Registro de actividades en tratamiento
  Potenciales Clientes</h1>

  Finalidad del tratamiento: Gestión de la relación con los potenciales clientes.

  Potenciales clientes: Personas con las que se busca mantener una relación comercial como clientes.

  Categorías de datos personales: Los necesarios para la promoción comercial de la empresa

  De identificación: nombre y apellidos y dirección postal, teléfonos, e-mail </h3>
